.btn {
    word-break: normal;
    text-decoration: none;
    padding: 16px 40px;
    display: inline-block;
    border-radius: 48px;
    border: none;
    text-align: center;
    transition: all .2s;
    position: relative;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;

    &-not-visible {
        display: none;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    &-colors {
        background-color: $light-brown;
        color: $white;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &::after {
        background-color: $grey-brown;
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}