.main-module {
    width: 100%;
    height: 100vh;
    background-color: blue;

    &-image__container {
        width: 100%;
        height: 50%;
        background-color: red;
    }

    &-content__container {
        width: 100%;
        height: 50%;
        background-color: green;
    }
}

// .main-module {
//     display: flex;
//     justify-content: space-between;
//     width: 1440px;
//     height: 100vh;
//     padding-top: 5em;
//     margin: 0 auto;
//     background-color: blue;

//     &-image__container {
//         width: 50%;
//         height: 50%;
//         background-color: yellow;
//     }
    
//     &-content__container {
//         width: 50%;
//         height: 50%;
//         background-color: green;
//     }
// }

@media (min-width: 768px) {
    .main-module {
        display: flex;
        // width: 100%;
        // height: 100%;
        // background-color: blue;
        padding-top: 5em;
        margin: 0 auto;
    }

    &-image__container {
        width: 50%;
    }

    &-content__container {
        width: 50%;
    }

    .displayedPicture {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}