.message-box__container {
    height: 210px;
    width: 100%;
    background-color: #FFF;
    overflow: hidden;
}

.message-box__content {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif, 'Roboto';
    align-items: center;
    padding: 56px 25px 0 25px;

    & button {
        width: 128px;
        height: 48px;
        font-size: 16px;
        border-radius: 32px;
        border: none;
        margin-top: 32px;
        color: #fff;
        background-color: #E4C1AE;
        display: none;
    }
}

.resetButtonVisible {
    display: block!important;
}

.message-box__text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: inherit;

    & h1 {
        width: 100%;
        max-width: 380px;
        color: #121212;
        font-size: 42px;
    }

    & p {
        color: #121212;
        line-height: 24px;
    }

    & span {
        font-weight: 600;
    }
}

@media (min-width: 768px) {
    .message-box__container {
        width: 620px;
        // padding-left: 96px;
    }
}

@media (min-width: 1140px) {
    .message-box__container {
        width: 920px;
        padding: 0 96px 0 96px;
    }
}