.message-box__container {
    position: absolute;
    z-index: 7;
    left: 0;
    right: 0;
    top: 375px;
    margin: 0 auto;
    height: 210px;
    width: 100%;
    background-color: #FFF;
    overflow: hidden;
    font-family: sans-serif, 'Roboto';
}

.close-burger {
    position: absolute;
    right: 46px;
    top: 46px;
    width: 12px;
    height: 12px;
    opacity: 1;
    color: #000;
    cursor: pointer;

    &:before, &:after {
        position: absolute;
        left: 5px;
        content: ' ';
        height: 12px;
        width: 2px;
        background-color: #000;
      }
      &:before {
        transform: rotate(45deg);
        height: 17px;
      }
      &:after {
        transform: rotate(-45deg);
        height: 17px;
      }
  }

.message-box__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    padding-left: 25px;
    padding-right: 25px;
}

.resetButtonVisible {
    display: block!important;
}

.message-box__text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: inherit;

    & h1 {
        width: 100%;
        max-width: 380px;
        color: #121212;
        font-size: 42px;
    }

    & p {
        color: #121212;
        line-height: 24px;
    }

    & span {
        font-weight: 600;
    }
}

@media (min-width: 768px) {
    .message-box__container {
        width: 620px;
    }

    .message-box__content {
        margin-right: 60px;
    }

}

@media (min-width: 1140px) {
    .message-box__container {
        width: 920px;
    }

    .message-box__content {
        padding-left: 95px;
        padding-right: 95px;
    }
    
}