@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.main-module {
  width: 100%;
  height: 100vh;
}

.main-module-image__container {
  width: 100%;
  height: 50%;
}

.main-module-content__container {
  width: 100%;
  height: 50%;
  padding-top: 46px;
  font-family: sans-serif, 'Roboto';
}

.main-module-content__container button {
  width: 128px;
  height: 48px;
  font-size: 16px;
  border-radius: 32px;
  border: none;
  margin-top: 32px;
  padding: 16px 40px;
  color: #fff;
  background-color: #E4C1AE;
  cursor: pointer;
}

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content h1 {
  font-size: 42px;
  line-height: 50.4px;
  padding-bottom: 24px;
}

.content p {
  max-width: 600px;
  padding: 0 2em;
  line-height: 24px;
}

.displayed-picture {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 768px) {
  .main-module {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .main-module-image__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 96px;
  }
  .main-module-content__container {
    padding-top: 46px;
  }
  .content {
    max-width: 1440px;
  }
  .content p {
    max-width: 720px;
  }
  .displayed-picture {
    width: auto;
  }
}

@media (min-width: 1140px) {
  .main-module {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: 1440px;
  }
  .main-module-image__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 50%;
    margin: 0;
    padding: 0;
    padding-top: 96px;
  }
  .main-module-content__container {
    width: 50%;
    padding-top: 136px;
    padding-left: 95px;
  }
  .displayed-picture {
    width: 505px;
    height: 330px;
  }
  .content {
    width: auto;
    max-width: 380px;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content h1 {
    font-size: 42px;
    line-height: 50.4px;
    padding-bottom: 24px;
  }
  .content p {
    font-size: 16px;
    padding: 0;
    line-height: 24px;
  }
}

.overlay-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 139, 139, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message-box__container {
  height: 210px;
  width: 100%;
  background-color: #FFF;
  overflow: hidden;
}

.message-box__container:after {
  position: relative;
  top: -60%;
  left: 88%;
  display: inline-block;
  content: "\00d7";
  /* This will render the 'X' */
  font-size: 32px;
  font-weight: 700;
}

.message-box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: sans-serif, 'Roboto';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 56px 25px 0 25px;
}

.message-box__content button {
  width: 128px;
  height: 48px;
  font-size: 16px;
  border-radius: 32px;
  border: none;
  margin-top: 32px;
  color: #fff;
  background-color: #E4C1AE;
  display: none;
  cursor: pointer;
}

.resetButtonVisible {
  display: block !important;
}

.message-box__text {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  height: inherit;
}

.message-box__text h1 {
  width: 100%;
  max-width: 380px;
  color: #121212;
  font-size: 42px;
}

.message-box__text p {
  color: #121212;
  line-height: 24px;
}

.message-box__text span {
  font-weight: 600;
}

@media (min-width: 768px) {
  .message-box__container {
    width: 620px;
  }
  .message-box__container:after {
    position: relative;
    top: -63%;
    left: 90%;
    display: inline-block;
    content: "\00d7";
    /* This will render the 'X' */
    font-size: 32px;
  }
}

@media (min-width: 1140px) {
  .message-box__container {
    width: 920px;
    padding: 0 96px 0 96px;
  }
  .message-box__container:after {
    position: relative;
    top: -63%;
    left: 105%;
    display: inline-block;
    content: "\00d7";
    /* This will render the 'X' */
    font-size: 32px;
  }
}

/*
Author: Kniw Studio
*/
.btn {
  text-decoration: none;
  border-radius: 32px;
  border: 1px solid #E4C1AE;
  position: relative;
  overflow: hidden;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  -webkit-transition: all 650ms;
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */