@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import 'main-module';
@import 'overlay';
@import 'message';
@import 'custom-button';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
